.background {
    background-color: #ffffff;
    font-size: calc(10px + 2vmin);
  }
  .Headercontainer { 
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
  
  }
  .Account {
    display:flex;
    justify-content:space-around;
    height: 30px;
    width: auto;
  }
  .Account> * {
    margin-right: 15px;
  }
  .footer{
    background-color: #FFD8B4;
    display: flex;
    justify-content: space-around;
    margin-right: 10px;
  }
  .socialmedia{
    display: flex;
    margin-top: 15px;
    width: 50px;
    justify-content: space-around;
  }
  .socialmedia> * {
    margin-right: 10px;
  }

  .heading{
      margin-left: 40px;
      display:flex;
      margin-top:40px;
      margin-bottom: 20px;
  }
  .myaccountinfo{
    margin-left: 40px;
    display: grid;
    grid-template-columns: 150px 150px ;
    margin-bottom:20px;
  }
  

  .OrderInfoContainer{
    background-color: #FFD8B4; 

    padding-left: 10px;
    margin-bottom: 40px;
    line-height: 10px;
    margin-left:40px;
    width:800px;
}

.OrderDetailContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    border-top: 1px solid rgb(131, 128, 128);
}


.scrolldiv{
  width:800px;
  background: #FFD8B4;
  height:400px;
  overflow: hidden;
  overflow-y:scroll;
}

.status {
  display:flex;
  justify-content:flex-start;
  height: 30px;
  width: auto;
}

.status> * {
  margin-right: 20px;
}