
  .background {
    font-size: 14pt;
  }

  .onSale{
    display: flex;
    justify-content: center;
  
  }
  .ufo{
    border-radius: 10px;
    width: 50%;
    height: auto;
    margin-top:20px;
  }
  .search{
    background-color: #FFD8B4;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top:10px;
    padding-left:10px;
    margin-left: 40px;
  }
  .searchbar{
      width: 30%;
      height: auto;
  }

  .optionmenu{
    justify-content: center;
    display: grid;
    grid-template-rows: 250px 250px;
    grid-template-columns: 250px 250px 250px;
    border-radius: 100px;
    column-gap:10px;
    row-gap:5px;
  }
  .optionmenu *> * {
    height: 250px;
    width: 250px;
  }
  .categories{
    margin-left: 400px;
    font-size: 20pt;
    font-weight: bold;
  }
  .OrderStats {
    background-color: #FFD8B4;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-left:40px;
    font-size:14pt;
}
.OrderStatus{
    display: flex;
    align-items: baseline;
}
.deliveredButton{
  margin-top: 20px;
  font-size:14pt;
  background-color: green;
  color: white;
}

.searchbutton{
background-color:#FA9F4B;
}

.categories{
  margin-left: 40px;
  font-size: 20pt;
  font-weight: bold;
}
.scrolldiv{
  width:800px;
  background: #FFD8B4;
  height:400px;
  overflow: hidden;
  overflow-y:scroll;
}
.searchIcon{
  color:white;
}