
.background {
    background-color: #ffffff;
    font-size: calc(10px + 2vmin);
  }
  .Headercontainer { 
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
  
  }
  .Account {
    display:flex;
    justify-content:space-around;
    height: 30px;
    width: auto;
  }
  .Account> * {
    margin-right: 15px;
  }
  
  .onSale{
    display: flex;
    justify-content: center;
  
  }
  .ufo{
    border-radius: 14px;
    width: 50%;
    height: auto;
  }
  .footer{
    background-color: #FFD8B4;
    display: flex;
    justify-content: space-around;
    margin-right: 10px;
  }
  .socialmedia{
    display: flex;
    margin-top: 15px;
    width: 50px;
    justify-content: space-around;
  }
  .socialmedia> * {
    margin-right: 10px;
  }
  
  .search{
    background-color: #FFD8B4;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-left: 40px;
  }
  .searchbar{
      width: 30%;
      height: auto;
  }
  .image{
    border-radius: 14px;
  }
  .location{
    margin-left: 40px;
  }
  .Placeholder{
    width: 100%;
    height: auto;
  }
  .optionmenu{
    justify-content: center;
    display: grid;
    grid-template-rows: 150px 150px;
    grid-template-columns: 150px 150px 150px;
  }
  .categories{
    margin-left: 40px;
  }
  .restaurantLogin {
    cursor: pointer;
  }