.background {
    background-color: #ffffff;
    font-size: calc(10px + 2vmin);
  }

.Headercontainer { 
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
  
  }

.image{
    border-radius: 14px;
  }

.Account {
    display:flex;
    justify-content:space-between;
    height: 30px;
    gap:10px;
  }

.Account> * {
    margin-right: 10px;
  }


  