.placeholder{
    margin-top: 20px;
    width: 320px;
    height: auto;
    margin-bottom: 20px;
    padding-left:10px;
  }

.restaurantsContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 14pt;
  padding-right:20px;
  grid-gap:10px;
  margin-bottom: 40px;
  
}
.oneRestaurant{
  display: flex;
  background-color: #FFD8B4;
  justify-content:space-between;
  padding-right: 20px;
  height: 380px;
  border-radius:14px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.button{
  cursor:pointer;
  background-color:#FA9F4B;
  margin-left: 40px;
}
.link {
  font-size:14pt;
  color: white;
  text-decoration: underline;
  cursor:pointer;
}