.heading{
    margin-left: 40px;
    margin-right: 40px;
    margin-top:40px;
    margin-bottom: 20px;
    font-size: 20pt;
    padding-bottom: 10px;
}

.info{
  margin-left: 40px;
  margin-top:40px;
  margin-bottom: 20px;
  line-height: 40px;
}
.name{
  font-size: 24pt;
  font-weight: bold;
  margin-bottom: 20px;
}
.restaurantInfoContainer{
  margin-top: 40px;
  width: 1390px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 16pt;
}

.menuContainer{
  width: 300px;
  height: 600px;
  background-color: #FFD8B4;
  margin-left: 40px;
}

.menuHeading{
  font-size: 16pt;
  margin-left: 10px;
  margin-top: 20px;
  font-weight: bold
}

.menuCategory{
  margin-left:10px;
  margin-top: 20px;
  font-size:14pt;
  line-height: 30px;
}

.menuInfoContainer{
  display:flex;
  justify-content: flex-start;
}

.infoContainer{
  background-color: #FFD8B4; 
  padding-left: 10px;
  margin-bottom: 40px;
  line-height: 10px;
  margin-left:20px;
  width:1000px;
}

.detailContainer{
  width: 1000px;
  display: flex;
  margin-bottom: 20px;
  border-top: 1px solid rgb(131, 128, 128);
  justify-content: space-between;
}

.scrolldiv{
  width:1020px;
  background: #FFD8B4;
  height:600px;
  overflow: hidden;
  overflow-y:scroll;
}

.restaurantPlaceholder{
  width: 450px;
  height: auto;
}

.placeholder{
  margin-top: 20px;
  width: 250px;
  height: auto;
}
.picture{
  width: 450px;
  height: auto;
}
.button{
  margin-left:10px;
  cursor:pointer;
}
.shoppingcart{
  margin-left: 10px;
}

.pictureAndShoppingCart{
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
}