.background {
    background-color: #ffffff;
    font-size: calc(10px + 2vmin);
  }

  .search{
    background-color: #FFD8B4;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-left: 40px;
  }

  .searchbar{
      width: 30%;
      height: auto;
  }

  .location{
    margin-left: 40px;
  }
  